<div class="navbar">
  <h1 class="text-white display-4 d-inline">Messages</h1>
  <div class="nav ml-auto">
    <h4 class="new-message-btn"><%= link_to 'New Message', new_message_path,  class: 'btn', style: "background-color:#A8D0DB; color: #FB6376" %></h4>
  </div>
</div>
<hr>
<div class="messages_index_page">
  <div class="messages_index_body p-4">
    <% if @messages.any? %>
      <% @messages.each do |message| %>
        <section class="messages_index_timeline">
          <ul>
            <li>
              <div>
                <time><i class="fas fa-envelope"></i></time>
                <div class="sender">
                  <h3 style="color:#A8D0DB">From: </h3>
                  <p style="color:#FB6376">
                   <%= message.message.sender.name %>
                  </p>
                </div>
                <div class="message">
                  <h4 class="text-center"><%= link_to "See Message", message_path(message.message), style:"color:#344055" %></h4>
                </div>

                <div>
                <%= form_tag '/messages/reply', method: :post do %>
                    <%= hidden_field_tag 'user_id', message.message.sender.id %>
                    <%= submit_tag 'Reply', class: 'btn-sm btn-primary' %>
                  <% end %>
                  <br>
                  <%= form_tag '/messages/destroy', method: :post do %>
                    <%= hidden_field_tag 'recipient_id', message.id %>
                    <%= submit_tag 'Delete', class: 'btn-sm btn-danger' %>
                  <% end %>
                  
                </div>

              </div>
            </li>
          </ul>
        </section>
      <% end %>
    <% else %>
      <div class="card card-shadow p-4">
        <p class="lead text-dark">You have no messages.</p>
      </div>
    <% end %>    
  </div>
</div>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>