
<h1>Hello</h1>

<%= form_for @message, :html => { :class => 'form-messages'} do |f| %>
  <%= f.text_area :body, size: "52x5" %>
  <!-- <ul>
    <% @recipients.each do |user| %>
      <li>
      <%= check_box_tag 'message[user_ids][]', user.id %>
      <%= user.name %>
      </li>
    <% end %>
    </ul>

  <%= f.submit %>
<% end %> -->


  <% @recipients.each do |user| %>
    <div class="inputGroupMessages">

      <input id="user_ids<%= user.id %>" name="user_ids[]" type="checkbox" value="<%= user.id %>"/>
      <label for="user_ids<%= user.id %>"><%= user.name %></label>
    </div>
    <% end %>

  <%= submit_tag 'Submit' %>

