<h1 class='display-4 text-white'>Friends</h1>
<hr>
<div class="row w-100">

  <%#  Friends List%>
  <div class="col-sm-3 card p-4 border-0" style="background-color: transparent" >
    <h4 class="lead">My Friends<h4>
    <% if @user.friends.any? %>
      <% @user.friends. each do | friend |%>
        <div class="card w-75 p-3">
          <%= link_to friend.name, user_path(friend) %>
        </div>
      <% end %>
    <% else %>
      <p class="text-white">There are no friends currently listed.</p>
    <% end %>
  </div>

  <%# Friend Requests %>
  <div class="col-sm-6 card p-4" style="background-color: transparent; border-color: white; border-width: 0; border-left-width: 1px">
    <h4 class="lead">Friend Requests<h4>
    <br>
    <%# Pending Friends %>
    <% if @user.friend_requests.any? %>
      <% @user.friend_requests.each do | friend |%>
        <div class="card shadow-lg p-3 w-75">

            <%= link_to friend.name, user_path(friend) %>
            <br>
            <div class="d-flex">
              <form class="form-inline my-2 my-lg-0 mr-3">
                <input id="accept_friend_request" name="accept_friend_request" type="hidden" value= <%= friend.id %> >
                <button class="btn my-2 my-sm-0" style="color:#FB6376; background-color:#A8D0DB" type="submit">Accept</button>
              </form>
  
              <form class="form-inline my-2 my-lg-0">
                <input id="decline_friend_request" name="decline_friend_request" type="hidden" value= <%= friend.id %> >
                <button class="btn btn-dark my-2 my-sm-0" style="color:#FB6376" type="submit">Decline</button>
              </form>
            </div>

        </div>
        <% end %>
    <% else %>
      <p class="text-white text-left lead">There are no pending friend requests.</p>
    <% end %>
  </div>

  <div class="col-sm-3">
    <%# Search Friends %>
    <div class="card border-0 p-4" style="background-color: transparent">
      <h4 class="lead"><i class="fas fa-search"></i> For New Friends <h4>
      <form class="form-inline my-2 my-lg-0">
        <input id="friend_search" name="friend_search" class="form-control mr-sm-2" type="search" placeholder= "Name" aria-label="Search">
        <br>
        <br>
        <br>
        <button class="btn btn-light my-2 my-sm-0" style="color:#FB6376" type="submit">Search</button>
      </form>
      <br>
      <%# Search Results %>
      <% if @friends %>
        <% if @friends.any?%>
          <% @friends.each do  | friend |%>
            <br>
            <%= link_to friend.name, user_path(friend) %><br>
          <% end %>
        <% else %>
          <br>
          <p class="text-white text-left lead">No friends match your search.</p>
        <% end %>
      <% end%>
    </div>
  </div>

</div>