<h1 class="text-white display-4">Profile</h1>
<hr>
  <div class="card shadow-lg p-4 border-0 profile_card">
    <div class="row no-gutters">
      <div class="col-md-4 p-4">
        <% if @user.avatar.attached? %>
          <%= image_tag @user.avatar, class:"card-img " %>
        <% end %>
      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="display-4">Account Details</h5>
          <% if @user == current_user %>
            <%= link_to 'Edit Profile', edit_user_registration_path(@user), class: "lead", style:'color: #E3F0F3' %>
          <% end %>
          <hr>
          <br>
          <br>
          <p class="lead text-dark text-left"><span style='color: #A8D0DB'>Name: </span><%= @user.name %></p>
          <p class="lead text-dark text-left"><span style='color: #A8D0DB'>Hometown: </span><%= @user.city %></p>
          <p class="lead text-dark text-left"><span style='color: #A8D0DB'>About Me: </span><%= @user.bio %></p>
          <p class="lead text-dark text-left"><span style='color: #A8D0DB'>Email: </span><%= @user.email %></p>
        </div>
        <%# Add Friend Button %>
        <% if @user.id != current_user.id %>
          <% are_friends = false %>
          <% current_user.friends.each do | friend | %>
            <% if friend.id == @user.id %>
              <% are_friends = true %>
            <% end%>
          <% end %>
          <% already_requested = false%>
          <% if @user.friend_requests.include?(current_user) %>
            <% already_requested = true %>
          <% end %>
          <% if are_friends == false && already_requested == false %>
            <form>
              <input id="add_friend" name="add_friend" type="hidden">
              <button class="btn btn-light" style="background-color:#A8D0DB; color:#FB6376" type="submit">Add Friend</button>
            </form>
          <% end %>
        <% end %> 
      </div>
    </div>
  </div>
 
