<h1 class="text-white display-4">Dinders</h1>
<h4><%= current_user.name %>
<hr>
<% if @dinders.any? %>
    
  <% @dinders.each do |dinder| %>
    <div class="card card-shadow p-4 accept_card">
      <div class="row">
        <div class="col" >
          <p class="lead text-dark">From: <%= dinder.api.sender.name %></p>
          
        </div>
        <div class="col text-center" >
          <%= form_tag '/dinders/accept', method: :get do %>    
            <%= hidden_field_tag 'id', dinder.api.id %>
            <%= hidden_field_tag 'api_user_id', dinder.id %>  
            <%= submit_tag 'accept', class: 'btn btn-dark'%>
          <% end %>

          <%= form_tag '/dinders/reject', method: :get do %>
            <%= hidden_field_tag 'api_user_id', dinder.id %>
            <%= submit_tag 'decline', class: 'btn btn-outline-dark'%>
          <% end %>
        </div>
      </div>
    </div>
    <br>
  <% end %>
        
<% else %>
<div class="card card-shadow p-4">
<p class="lead text-dark">You have no dinder requests.</p>
<% end %>