<h1>Dinder Requests</h1>
<h4><%= current_user.name %>
<hr>
<% if @dinders.any? %>
  <%# <div class="card" style="width: 100%;"> %>
    
    <% @dinders.each do |dinder| %>
        <%= form_tag '/dinders/accept', method: :get%>
            <div class="card card-shadow p-4">
            <p class="lead text-dark"><%= dinder.id%>  Sender: <%= dinder.api.sender.name %></p>
            <hr>
            <p class="lead text-dark">Api Id: <%= link_to dinder.api.id , '/dinders/accept' %></p>
            <%= hidden_field_tag 'id', dinder.api.id %>   
            <%= submit_tag 'accept', class: 'btn btn-success'%>
    
            <%# form_tag '/dinders/reject', method: :get %>
            <%# hidden_field_tag 'api_user_id', dinder.id %>
            <%# submit_tag 'decline', class: 'btn btn-success'%>
            <%# button_to 'reject', params: { id: dinder.id }, '/dinders/reject'  %>
            </div>
    <% end %>
         
        <%# <span class="controls" id="decline_dinder"><i class="far fa-times-circle fa-5x"></i></span>
        <span class="controls" id="accept_dinder"><i class="fas fa-check-circle fa-5x"></i></span>
       
    <% end %>
    
<% else %>
<div class="card card-shadow p-4">
<p class="lead text-dark">You have no dinders.</p>
<% end %>