<div class='dinder-new-wrapper'>
  <p class="text-white display-4 d-inline">Choose City & Friend </p>
    <form class="form-dinder" action='/dinders/dinder' method='get'>
      <select name="city" id="city">
        <option value=286>Portland</option>
        <option value=279>Seattle</option>
        <option value=10614>Beaverton</option>
        <option value=1240>Spokane</option>
      </select>
      <br>
      <h4 class="text-white display-4 d-inline">Friends</h4>
      <% User.all.each do |friend| %>
        <div class="inputGroup">
          <input id="user_ids<%= friend.id %>" name="user_ids[]" type="checkbox" value=<%= friend.id %>/>
          <label for="user_ids<%= friend.id %>"><%= friend.name %></label>
        </div>
        <% end %>
      <%= submit_tag 'Send the Dinvitation' %>
    </form>
</div>

