<div class='dinder-new-wrapper'>
  <p>Choose a city & a friend for your Dinder, yo</p>
    <form class="form" action='/dinders/dinder' method='get'>
      <select name="city" id="city">
        <option value=286>Portland</option>
        <option value=279>Seattle</option>
        <option value=10614>Beaverton</option>
        <option value=1240>Spokane</option>
      </select>
      <br>
      <h2>Checkboxes</h2>

      <% User.all.each do |friend| %>
        <div class="inputGroup">

          <input id="user_ids<%= friend.id %>" name="user_ids[]" type="checkbox" value=<%= friend.id %>/>
          <label for="user_ids<%= friend.id %>"><%= friend.name %></label>
        </div>
        <% end %>
      <%= submit_tag 'Submit' %>
    </form>
</div>

