<% if @restaurant.get_nearby_restaurants.any? %>
  <div class="card-group" id="card_group">
    <% @restaurants.each_with_index do | restaurant, index | %>

      <% if index == 0 %>
        <div class="dinder_card showing" 
          data-id="<%= restaurant['restaurant']['id'] %>"
          data-address="<%= restaurant['restaurant']['location']['address'] %>"
          data-name="<%= restaurant['restaurant']['name'] %>" 
          data-site="<%= restaurant['restaurant']['url'] %>" 
          data-dinder="sender" data-api_id="<%= @api_id %>">

            <% if restaurant['restaurant']['featured_image'] != "" %>
              <%= image_tag(restaurant['restaurant']['featured_image'], class: 'dinder_card_img_top')%>
            <% else %>
              <%= image_tag(@food_photos.sample['urls']['thumb'], class: 'dinder_card_img_top')%>
            <% end %>

          <div class="dinder_card_body">
            <h1 class="dinder_card_title "> <%= restaurant['restaurant']['name'] %> </h1>
            <p class="dinder_card_text"> <%= restaurant['restaurant']['location']['address'] %> </p>
          </div>
        </div>

      <% elsif index == 9 %>
     
            <div class="dinder_card">
              <div>
                <h1>No More!</h1>
                <%= link_to image_tag("dinder_logo_ii.png", :border=>0), :action => 'index', :controller => 'home', :class => 'dock-item' %>
              </div>
            </div>

      <% else  %>
      
        <div class="dinder_card" 
          data-id="<%= restaurant['restaurant']['id'] %>" 
          data-address="<%= restaurant['restaurant']['location']['address'] %>" 
          data-name="<%= restaurant['restaurant']['name'] %>" 
          data-site="<%= restaurant['restaurant']['url'] %>" 
          data-dinder="sender" data-api_id="<%= @api_id %>"> 

            <% if restaurant['restaurant']['featured_image'] != "" %>
              <%= image_tag(restaurant['restaurant']['featured_image'], class: 'dinder_card_img_top')%>
            <% else %>
              <%= image_tag(@food_photos.sample['urls']['thumb'], class: 'dinder_card_img_top')%>
            <% end %>

          <div class="dinder_card_body">
            <h1 class="dinder_card_title "> <%= restaurant['restaurant']['name'] %> </h1>
            <p class="dinder_card_text"> <%= restaurant['restaurant']['location']['address'] %> </p>
            <% puts 'middle one' %>
          </div>
        </div> 
  
    <% end %>

  <% end%>
    <div class="like_buttons fixed-bottom">
      <span id="decline_button"><i class="far fa-times-circle fa-5x controls" id="decline"></i></span>
      <span id="like_button"><i class="fas fa-check-circle fa-5x controls" id="like"></i></span>
    </div>
  </div>
<% end %>
